<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script href="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/34507f01d608aef75b785786188faa0c/megascript.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/db56e77c13ff458474c33bd3098c67d7/addmystyle.css" >
    
    <title>Mega - Make Europe Gay Again</title>
  </head>
  <body>
    <div class="header">
      <div class="back-button">
      <a href=""><h5 class="btn-text">voltar</h5></a>
      </div>
      <div class="img-logo">
      <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2b0b04d46360400efd1cc6/a19f66875a91ae9c98a13b91bdf4a45e/logo-mega-white2.svg" alt="megalogo">
      </div>
      </div>
      <div class="container">
        <h2><strong>Let's get it on:</strong></h2>
          <div class="container-full">
            <div class="container-left">
              <input type="image" src="https://cdn1.parksmedia.wdprapps.disney.com/dam/disney-springs/dining/house-of-blues/house-of-blues-interior-1x1.jpg?1595291022589" alt="location-img" class="img-location" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              </div>
              <div class="container-right">
                <form>
                <div class="input-group">
                  <input type="text" id="input-name" class="form-control" placeholder="Where did you go" aria-describedby="addon-wrapping">
                  <input type="text" id="input-adress" class="form-control" placeholder="Adress" aria-describedby="addon-wrapping">
                  <input type="text" id="input-city" class="form-control" placeholder="City" aria-describedby="addon-wrapping">
                  <input type="text" id="input-postalcode" class="form-control" placeholder="Postal Code" aria-describedby="addon-wrapping">
                </div>
                <div class="text-right">
                <button type="submit" class="btn btn-dark">get it on</button>
                </div>
                </form>
                </div>
            </div>
        </div>
  </body>
</html>
