<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">

  <title>Location Name</title> <!-- get from server-->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->



  <meta name="theme-color" content="#fafafa">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e1c111af166aa602f0ae0f483cd6a745/location.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLzbDAbaqjZc-sgalTjo0UdIj7tHl3wEg&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
    #map {
        height: 350px;
      }
    
    </style>
</head>

<body>
  <div> 
    <div class="titleBarContainer">
      <div class="ctrl-button"> </div>
        <a href="https://mega-ac.herokuapp.com" id="back-btn"> voltar</a>
    </div> 
    <div class="container">
      <div class="test">
          <div class="stb-test">
                <img class="stablishment-picture" src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/ebac20c8fc4070c63006be2885ed8741/stablishment-pic.png" alt="stablishment-picture"> <!-- link picture.-->
          </div>
          <div class="stablishment-name">
            <h2 id="location-title">Restaurante Avião</h2>
              <br>
              <br>
              <div>
                <div style=" width: auto; display: flex; vertical-align: bottom">
                  
                <div class="nota" style=" width: auto; font-size: 20px">4.0</div>
                  <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/7dbc684bda521a04402b5db419cb9366/unicorn-empty.svg" style="width: 30px; height: 30px; float: right">
                
                <div>
                  <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 30px; height: 30px; float: right">
                </div> 
                <div>
                    <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 30px; height: 30px; float: right">
                </div>
                <div>
                      <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 30px; height: 30px; float: right">
                </div>
                <div>
                        <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 30px; height: 30px; float: right">
                <div> 
                  </div>
                 
              </div>   
              </div>
        </div>
            <br>
            <br>
            <h6 id="score" th:value="${score}"></h6>
          </div>  <!-- link DB-->
          <div class="stamp-test"> 
              <img id="stamp" class="stablishment-stamp" src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/a1871d0d364ca902fc34c2b18b270a89/stamp.png" alt="stablishment-stamp" style="float: right; height: 90px; width: 90px"></span>
          </div>
      </div>
            <br>
            <br> <!-- add line-->
      <div class="comment-session">
          <div class="comment-session-title"> <!--make this box flex-->
            <div>
                <div id="comment-box-header">
                    <h3 style="display: table-cell; vertical-align: bottom;">If only the Fuhrer knew...</h3>
                    <h6 id="review" style="display: table-cell; vertical-align: bottom;">Passionate kiss 5.0 /Not even with lube </h6><!-- link DB-->
                </div>
            </div>
          </div>
          <br>
          <div>
              <div>
                  <div style=" width: auto; display: flex; vertical-align: bottom; ">
                    
                    <div style="float: left"><h7 >João Matos</h7> <!-- link DB--></div>
                    <div style="float: left"><h7>Bad Romance</h7> <!-- link DB--></div>
                    <div>
                      
                    <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/7dbc684bda521a04402b5db419cb9366/unicorn-empty.svg" style="width: 25px; height: 25px; float: right">
                    </div>
                  <div>
                    <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 25px; height: 25px; float: right">
                  </div> 
                  <div>
                      <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 25px; height: 25px; float: right">
                  </div>
                  <div>
                        <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 25px; height: 25px; float: right">
                  </div>
                  <div>
                          <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 25px; height: 25px; float: right">
                 </div>
                  
                </div>   
          </div>
          
            <h7 >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h7>
            </div>

            <div class="comment-session">
                <div class="comment-session-title"> <!--make this box flex-->
                  
                </div>
                <br>

                <div class='left'> Dani Valente </div> 
                <div class='right'> The Edge of Glory </div>

                <div>
                    <div>
                        <div style="width: auto; display: flex; vertical-align: bottom; ">
                  
                          <div style="float: left; width: auto"><h7>Dani Valente</h7> <!-- link DB--></div>
                          <div style="float: left; width: auto"><h7>The Edge of Glory</h7> <!-- link DB--></div>
                          
                        <div style="width: auto">
                          <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/7dbc684bda521a04402b5db419cb9366/unicorn-empty.svg" style="width: 25px; height: 25px; float: right">
                          </div>
                        <div>
                          <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 25px; height: 25px; float: right">
                        </div> 
                        <div>
                            <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 25px; height: 25px; float: right">
                        </div>
                        <div>
                              <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 25px; height: 25px; float: right">
                        </div>
                        <div>
                                <img src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/e6d8a7f58fec0b261500b94b9c2e6ca1/unicorn-fill.svg" style="width: 25px; height: 25px; float: right">
                       </div>
                        
                      </div>   
                </div>
                
                  <h7 >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h7>
                  </div>
    <div id="map"></div>
      <div id="user-comment">
        <br>
        <br>
          <h3>Show me yours</h3>
          <form>
              <div class="form-row">
                  <div class="col-md-5 mb-3">
                    <label for="validationDefault01">What would like to be called in bed...</label>
                    <input type="text" class="form-control" id="validationDefault01" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault02">Was it good for you?</label>
                    <select class="custom-select" id="validationDefault02" required>
                      <option selected disabled value="">Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-3">
                      <label for="validationDefault03">Now tell me the truth...</label>
                      <select class="custom-select" id="validationDefault03" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                      </select>
                  </div>

                  <div class="col-md-12 mb-6">
                    <label for="validationDefault04">Tell me about it!</label>
                    <input type="text" class="form-control" id="validationDefault04" required>
                  </div>
                  <div>
                      <button class="btn btn-primary" type="submit">Gay up!</button>
                  </div>
          </form>
      </div>
    </div>
    </div>
        <script src="https://trello-attachments.s3.amazonaws.com/5f29787a4227e17f33e57533/5f2cbafd894c5f45db4a7d0a/6426b4fb2c1c476c52c2547772802621/location.js" ></script>

</body>

</html>
