.header{
    display: flex;
    align-items: center; 
    

}

.container{

    /* border: 3px solid orange; */
    padding: 20px;
}

.titleBarContainer{
    width: 100%;
    height: 50px;
    background: #FF2970;
   
}

.stablishment-picture{
    width: auto;
    height: 100%;
    opacity: 1;
    
    float: left;
    /* border: 3px solid red; */
}

.stablishment-stamp{
    width: auto;
    height: 100%;
    opacity: 1;
 
    /* float: right;
    border: 3px solid blue; */
}
.test{
    width: 100%;
    height: 15vh;
    /* border: 3px solid green; */
    display: flex
}


.stb-test{
    width: 25%;
    /* border: 3px solid black; */
    overflow: hidden;

}

.name-test{
    width: 60%;
    /* border: 3px solid pink; */
}

.stamp-test{
    width: 25%;
    /* border: 3px solid yellow; */
}

.comment-session{

    /* border: 3px solid black; */
}

.comment{
    width: auto;
    height: 100%;
    opacity: 1;
    
    float: left;
    /* border:3px solid yellow; */
}

.score{
    width: auto;
    height: 100%;
    opacity: 1;
 
    float: right;
    /* border: 3px solid blue; */

}